a.not-active {
   pointer-events: none;
   cursor: default;
   color:#808080;
   background-color: #cccccc;
   border-color: #808080;

}

a.active {
  color: #ccffcc;
	background-color: #006666; /* Change Link Color */
}

header {
  background-color: #CCFFCC;
}

body {
    background-color: #FFFFCC;
    /*background-color: #FFE1C7;*/
    /*background-color: #FFCB9F;*/
    /*background-color: #D38949;*/
    /*background-color: #B16727;*/
    /*background-color: #444444;*/

}

footer {
  /*color: black;*/
  color: #66cccc;
  background-color: white;
  /*border-color: #66cccc;*/
  border: thin solid #66cccc;
  padding: .3em;
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}

h6 a {
  background-color: #ccffcc;
  padding: .3em;
  padding-left: .5em;
  padding-right: .5em;
  border: thin solid #66cc66;
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}

h6 a:hover {
  /*color: #006666;*/
  color: #ccffcc;
	background-color: #66cc66;
  text-decoration: none;

}

div.attribute {
  color: black;
  text-align: center;
  /*border: thin dashed cornflowerblue;*/
  /*display: inline-block;*/
  /*float: left;*/
}

div.primaryAttributeGroup {
  /*float: left;*/
  border: medium solid #66cccc;
  /*background-color: white;*/
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;

  display: inline-block;
}

div.primaryAttributeGroup div.attribute {
  display: inline-block;
}

div.primaryAttributeGroup div.attribute div {
  /*border: thin dotted black;*/
  width:150px;
  height:120px;
  padding-bottom: 2em;
}

div.mainAttributeGroup {
  color: black;
  /*float: right;*/
  display: inline-block;
  border: thin solid #66cccc;
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;

}

div.mainAttributeGroup div.attribute div {
  /*border: thin dotted black;*/
  width:200px;
  height:160px;
}

div.secondaryAttributeGroup {
  /*color: black;*/
  /*float: right;*/
  display: inline-block;
  border: thin solid #66cccc;
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;

}

div.secondaryAttributeGroup div.attribute div {
  /*border: thin dotted black;*/
  width:100px;
  height:80px;
}


hr {
  color: #99cccc;
  background-color: #336699;
}

.post-title {
  padding: .3em;
  padding-left: .5em;
  padding-right: .5em;
  color: #99cccc;
  /*border: thin solid #cc9933;*/
  /*background-color: #ffcc99;*/
  background-color: #336699;
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}



/*#footer
{
    position: fixed;
    bottom: 0;
}*/
