{{ define "header_1" }}
<p><input name="Name" type="text" value="{{.Name}}">Name</Name> - Identifies your character, choose a cool one! <p>
<p><input name="Concept" type="text">Concept</Name> - A brief description of your hero (see below).</p>
{{end}}
